node:
        ip_port=7777
        ip_address=10.0.0.101
        number=0
        name=virt-node-1
        cluster=ocfs2

node:
        ip_port=7777
        ip_address=10.0.0.102
        number=1
        name=virt-node-2
        cluster=ocfs2


node:
        ip_port=7777
        ip_address=10.0.0.111
        number=2
        name=virt-node-11
        cluster=ocfs2

node:
        ip_port=7777
        ip_address=10.0.0.112
        number=3
        name=virt-node-12
        cluster=ocfs2

cluster:
        node_count=4
        name=ocfs2

